.dish-container {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dish {
    max-width: 400px;
  }
  
  .dish-img {
    height: 250px;
    object-fit: cover;
    border-radius: 2px;
  }