body {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

img {
  width: 8rem;
}

a {
  text-decoration: none;
}


/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* DishList */

.dish-container {
  margin-left: 20vw;
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.dish-image {
  width: 10rem;
  margin-top: 0.5rem;
}

/* Footer */

.footer {
  margin-top: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
