body {
font-size: 20px;
margin: 0;
padding: 0;
}

img {
width: 10rem;
}


a {
text-decoration: none;
color: white;
}

li {
    text-decoration: none;
  list-style: none;
}

/* Header */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslateblue;
    color: white;
    }

    .navLinks ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    /* Footer */

    .footer {
        margin-top: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darkslateblue;
        color: white;
    }